<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/login" (click)="closeMenu()">Iniciar Sesion</ion-item>
        <ion-item routerLink="/registro" (click)="closeMenu()">Registrarse</ion-item>
        <ion-item routerLink="/opcion2" (click)="closeMenu()">Opción 2</ion-item>
        <ion-item routerLink="/opcion3" (click)="closeMenu()">Opción 3</ion-item>
        <ion-item routerLink="/opcion4" (click)="closeMenu()">Opción 4</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>