<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
<div id="qrImage">
  <div class="d-flex-center">
    <div class="d-flex-center qr-wrapper">
      <qr-code [value]="QrTexto" size="190" errorCorrectionLevel="M"/>
      <img *ngIf="!QrTexto" class="qr-placeholder" src="assets/images/qr.webp" alt="">
    </div>
  </div>
  <ion-button expand="full" (click)="IrInicioProfesor()">Volver al inicio</ion-button>

</div>
</ion-content>
