<ion-header [translucent]="true" style="background-color: #6200EE;">
  <ion-toolbar>
    <ion-title style="color: #ffffff;">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="main-content" class="card-container">
    <ion-list>
      <ion-item *ngFor="let curso of cursos">
        <ion-thumbnail slot="start">
          <img [src]="curso.imagen" alt="{{ curso.nombre }}"/>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ curso.nombre }}</h2>
          <p>{{ curso.descripcion ? curso.descripcion : 'Sin descripción disponible' }}</p>
          <p>Profesor: {{ curso.usuario.nombre_completo }}</p>
          <ion-button style="background-color: #6200EE; color: #ffffff;" fill="outline" (click)="GenerarQr()">Generar QR</ion-button>
        </ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRofGrpeDQojbt65wBXRC7LsBY8nlH7sZil1Q&s" alt="Curso 1"/>
        </ion-thumbnail>
        <ion-label>
          <h2>Curso 1</h2>
          <p>Descripción del curso 1</p>
          <p>Profesor: Profesor 1</p>
          <ion-button style="background-color: #6200EE; color: #ffffff;" fill="outline" (click)="GenerarQr()">Generar QR</ion-button>
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button  (click)="IrInicioProfesor()">
    <ion-icon style="color: #6200EE;" name="home"></ion-icon>
    Inicio
  </ion-tab-button>
  <ion-tab-button (click)="IrMisCursos()">
    <ion-icon style="color: #6200EE;" name="book"></ion-icon>
    Mis Cursos
  </ion-tab-button>
  <ion-tab-button (click)="cerrarSesion()">
    <ion-icon style="color: #6200EE;" name="exit"></ion-icon>
    Cerrar Sesión
  </ion-tab-button>
</ion-tab-bar>