<ion-header [translucent]="true" style="background-color: #6200EE;">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content >
  <ion-header style="box-shadow: none;">
    <ion-toolbar>
      <ion-text id="MensajeBienvenida" size="large" style="text-align: center;">Bienvenido</ion-text>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="askUser()">
      <ion-icon style="color: #6200EE;" name="scan-outline"></ion-icon>
      Escanear QR
    </ion-tab-button>
    <ion-tab-button (click)="cerrarSesion()">
      <ion-icon style="color: #6200EE;" name="exit"></ion-icon>
      Cerrar Sesión
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>